/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #786fa6;
    /* font-family: "Noto Sans"; */
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
}
button{
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.container {
    margin: 10% auto;
    max-width: 900px;
    /* background-color: #2e2a47; */
    background-color: #312d40;
    padding: 0.8rem;
    border-radius: 12px;
}


.form__wrapper {
    flex-basis: 40%
}

.gallery__wrapper {
    flex-basis: 60%;
    height: 450px;
    position: relative;
}
.gallery__btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}
.gallery__btn{
    width: 30px;
    height: 3px;
    /* border-radius: 50%; */
    background-color: #fff;
    cursor: pointer;
}
.form__wrapper {
    padding: 0rem 1rem;
    /* border: 2px solid white; */
    height: 100%;
    max-width: 100%;
}

.form__gallery-wrapper {
    /* max-width: 700px; */
    gap: 3rem;
}

.name__wrapper {
    gap: 0.5rem;
}

.name__wrapper .input__wrapper {
    max-width: 150px;
    margin-bottom: 0;
}

.form__input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
    padding: 0.8rem 0.8rem;
    width: 100%;
}

.input__wrapper {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 0;
    text-align: left;
    background-color: #403b52;
}

.input__wrapper input::placeholder {
    color: gray;
}

.submit__form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.6rem 0.2rem;
    color: white;
    background-color: #7753d5;
    margin-bottom: 1rem;
}

.line__text {
    position: relative;
    color: white;
    /* font-size: 28px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    /* display: inline-block; */
    /* padding: 0 20px; */
}

.line__text .register__text::before {
    content: "";
    position: absolute;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    top: 50%;
    left: 0%;
    width: 90px;
    height: 2px;
    background-color: white
}

.line__text .register__text::after {
    content: "";
    position: absolute;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    right: 0%;
    top: 50%;
    width: 90px;
    height: 2px;
    background-color: white
}

.register__text {
    margin-bottom: 1rem;
}
.register__btn{
    color: white;
    outline: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 0.5rem;
}
form {
    text-align: center;
    margin-bottom: 2rem;
    /* padding-top: 1rem; */
    max-width: 350px;
    /* border: 2px solid white; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

p,
a,
h1 {
    color: white;
}

h1 {

    margin-bottom: 1rem;
}

span {
    margin: 1rem 0;
}

span input {
    margin-right: 0.5rem;
}
@media only screen and (max-width: 880px){
    .line__text .register__text::before {
        left: -5%;
    }
    
    .line__text .register__text::after {
        right: -5%;
    }
    
}   
@media only screen and (max-width: 810px){
    .gallery__wrapper{
        height: 490px;
    }
    .line__text .register__text::before {
        left: -9%;
    }
    
    .line__text .register__text::after {
        right: -9%;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 500px;
    }
    .form__gallery-wrapper {
        flex-direction: column;
        gap: 2rem;
        /* max-width: 400px; */
    }
    .line__text .register__text::before {
        left: 0%;
    }
    
    .line__text .register__text::after {
        right: 0%;
    }
}
@media only screen and (max-width: 420px){
    /* .gallery__wrapper {
        flex-basis: 60%;
        height: 450px;
        position: relative;
    } */
    .gallery__btn-wrapper{
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem; */
        position: absolute;
        left: 40%;
        bottom: 0;
    }
    .gallery__btn{
        width: 20px;
        height: 3px;
        background-color: #fff;
    }
}